<h1>This is the showpage of a single piece of equipment</h1>
<%= @equipment.name %>
<hr>
<%= @equipment.description %>
<hr>
<p>
owned by <%= @equipment.user.email %>
</p>

<%= link_to "request to rent", new_equipment_reservation_path(@equipment) %>