<div class="banner-image">
  <div class="banner-text">
    <h1>Rentrek</h1>
    <p>The outrek awaits, and we can help you get ready.</p>
    <div class="row">
      <%= link_to "List Your Equipment", new_equipment_path, class: "col-lg btn btn-secondary m-2" %>
      <%= link_to "See Listings", equipment_index_path, class: "col-lg btn btn-light m-2" %>
    </div>
  </div>
</div>
