<div class="banner-image">
  <div class="banner-text">
    <h1>Rentrek</h1>
    <p>The outrek awaits, and we can help you get ready.</p>
    <div class="d-flex flex-row bd-highlight mb-3">
      <%= link_to "List Your Equipment for Rent", new_equipment_path, class: "p-2 bd-highlight btn btn-primary mr-4" %>
      <%= link_to "See Listings We Already Have", equipment_index_path, class: "p-2 bd-highlight btn btn-secondary" %>
    </div>
  </div>
</div>
